<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Alpha.CA.gov news.">
    <meta name="author" content="State of California">
    <meta name="generator" content="Hugo 0.61.0">
    <title>News - Alpha.CA.gov</title>
    <!-- Styles -->
    <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />
    <link href="/css/alpha.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://cwds.dev/docs/4.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="https://cwds.dev/docs/4.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://cwds.dev/docs/4.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://cwds.dev/docs/4.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://cwds.dev/docs/4.3/assets/img/favicons/safari-pinned-tab.svg" color="#1d1a16">
    <link rel="icon" href="https://cwds.dev/docs/4.3/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/docs/4.3/assets/img/favicons/browserconfig.xml">
    <!-- combined social media meta -->
    <meta property="og:title" content="News - Alpha.CA.gov">
    <meta property="og:description" content="Alpha.CA.gov news">
    <meta property="og:image" content="https://news.alpha.ca.gov/img/full/how-might-we.jpeg">
    <meta property="og:url" content="https://news.alpha.ca.gov/">
    <meta name="twitter:card" content="https://news.alpha.ca.gov/img/full/how-might-we.jpeg">
</head>

<body>
    <header>
        <div class="official">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>State of California</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand nav-cali-bg navbar-left" href="https://alpha.ca.gov/">CA.gov <sup>(ALPHA)</sup></a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>News</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12">
                <div class="card-deck card-set row">
                    {%- for post in collections.mySort -%}
                    <div class="card col-sm">
                        <a class="clipper" href="{{post.url}}"><img src="/{% if post.data.previewimage %}{{ post.data.previewimage }}{% else %}img/design-principles.jpg{% endif %}" class="card-img-top" alt="{{ post.data.title }}"></a>
                        <div class="card-body">
                            <h5 class="card-title "><a href="{{ post.url }}">{{ post.data.title }}</a></h5>
                            <p class="card-text text-muted">{{ post.data.publishdate }}</p>
                            <p class="card-text">{{ post.data.meta }}</p>
                        </div>
                    </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container feedback">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-secondary">
                        <p class="h2 strong">Feedback</p>
                        <p>Please <a href="https://www.surveymonkey.com/r/Alpha-CA-Gov?Source=https://www.alpha.ca.gov/">share your feedback</a> to help us improve this page.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="alpha-footer footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-group flex-fill list list-group-flush list-group-horizontal-lg">
                            <li class="list-group-item alpha-footer"><a href="https://www.alpha.ca.gov/about/">About</a></li>
                            <li class="list-group-item alpha-footer"><a href="https://news.alpha.ca.gov/">News</a></li>
                            <li class="list-group-item alpha-footer"><a href="https://www.surveymonkey.com/r/Alpha-CA-Gov?Source=https://www.alpha.ca.gov/">Survey</a></li>
                            <li class="list-group-item alpha-footer"><a href="https://news.alpha.ca.gov/roles/">Roles</a></li>
                        </ul>
                        <p>Official California State Government Website</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="alphabar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>This website is a <a href="https://news.alpha.ca.gov/">work in progress</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://www.googletagmanager.com/gtag/js?id=UA-154336791-1" defer="defer" async=""></script>
        <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-154336791-1');

        function ga_send_event(category, action, label) {
            ga('gtag_UA_154336791_1.send', 'event', category, action, label);
        }
        </script>
    </footer>
</body>

</html>