<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Alpha.CA.gov news.">
  <meta name="author" content="Bootstrap, Luke Fretwell, Artem Khomishen">
  <meta name="generator" content="Hugo 0.61.0">
  <title>News - Alpha.CA.gov</title>

  <link href="/css/4.css" rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="https://cwds.dev/docs/4.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="https://cwds.dev/docs/4.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="https://cwds.dev/docs/4.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="https://cwds.dev/docs/4.3/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="https://cwds.dev/docs/4.3/assets/img/favicons/safari-pinned-tab.svg" color="#1d1a16">
  <link rel="icon" href="https://cwds.dev/docs/4.3/assets/img/favicons/favicon.ico">
  <meta name="msapplication-config" content="/docs/4.3/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#000000">

  <style>
    .card {
      margin-bottom: 20px;
    }
    .card-set {
      display: grid;
      grid-template-columns: 33% 33% 33%; 
      grid-gap: 20px;
    }
    .card-set .card {
      margin-right: 20px;
    }
    @media (max-width: 1080px) {
      .card-set {
        grid-template-columns: 50% 50%; 
      } 
    }
    @media (max-width: 720px) {
      .card-set {
        grid-template-columns: 100%; 
      }
    }

  </style>

</head>

<body>
  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />
  <div class="official">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Official California State Government</p>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand nav-cali-bg navbar-left" href="index.html">CA.gov <sup>(ALPHA)</sup></a>
      </div>
    </div>
  </nav>

  <div class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>News</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card-deck card-set row">

      {%- for post in collections.mySort -%}
        <div class="card col-sm">
          <a href="{{post.url}}"><img src="https://news.alpha.ca.gov/{% if post.data.previewimage %}{{ post.data.previewimage }}{% else %}img/design-principles.jpg{% endif %}" class="card-img-top" alt="{{ post.data.title }}"></a>
          <div class="card-body">
            <h5 class="card-title"><a href="/alpha-ca-gov-product-framing/">{{ post.data.title }}</a></h5>
            <p class="card-text">{{ post.data.publishdate }}</p>
            <p class="card-text">{{ post.data.meta }}</p>
          </div>
        </div>
      {%- endfor -%}

    <!--
      <div class="col-md-12 mt-5 ">
        <nav aria-label="Page navigation example ">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    -->
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            2020 State of California
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="alphabar">
    <div class="container">
      <p>This is an alpha project and a work in progress (<a href="https://medium.com/cadotgov">Details</a>)</p>
    </div>
  </div>

</body>

</html>